{% extends "base.html" %}

{% block title %}Compare{% endblock %}

{% block scripts %}
{{super()}}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">	
	google.charts.load('current', {'packages':['line']});
	google.charts.setOnLoadCallback(drawICSChart);
	google.charts.load('current', {packages: ['corechart', 'line']});
	google.charts.setOnLoadCallback(drawTDCSChart);
	google.charts.setOnLoadCallback(drawITDChart);
	// google.charts.setOnLoadCallback(drawCodeSizeLine);

	function drawICSChart() {
		/* Displays issues and code size over time */
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Date');
		data.addColumn('number', 'Issues');
		data.addColumn('number', 'Lines of Code');

		var mydata = '{{data|tojson}}';
		mydata = JSON.parse(mydata);
		
		rows = [];
		mydata.forEach(function(element) {
			rows.push([element.timestamp, element.issues_count, element.lines_of_code]);
		});
		data.addRows(rows.reverse()); // reverse array for chronological order left -> right

		var materialOptions = {
			chart: { title: 'Issues vs Code Size'},
			width: 600,
			height: 350,
			series: { 0: {axis: 'Issues'}, 1: {axis: 'LinesofCode'} },
			axes: { y: { Issues: {label: 'Issues'}, LinesofCode: {label: 'Lines of Code'} } }
		};

		var materialChart = new google.charts.Line(document.getElementById('issues_and_code_size'));
		materialChart.draw(data, google.charts.Line.convertOptions(materialOptions));
	}

	function drawTDCSChart() {
		/* Displays technical debt and code size over time */
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Date');
		data.addColumn('number', 'Technical Debt');
		data.addColumn('number', 'Lines of Code');

		var mydata = '{{data|tojson}}';
		mydata = JSON.parse(mydata);
		
		rows = [];
		mydata.forEach(function(element) {
			ratio = parseFloat(element.tech_debt_ratio) / 100.0;
			rows.push([element.timestamp, ratio, element.lines_of_code]);
		});
		data.addRows(rows.reverse()); // reverse array for chronological order left -> right

		var materialOptions = {
			chart: { title: 'Technical Debt Ratio vs Code Size'},
			width: 400,
			height: 324,
			series: { 0: {axis: 'TechnicalDebt'}, 1: {axis: 'LinesofCode'} },
			axes: { y: { TechnicalDebt: {label: 'Technical Debt'}, LinesofCode: {label: 'Lines of Code'} } },
			legend: { position: 'none' },
		};

		var materialChart = new google.charts.Line(document.getElementById('tech_debt_and_code_size'));
		materialChart.draw(data, google.charts.Line.convertOptions(materialOptions));
	}

	function drawITDChart() {
		/* Displays technical debt and code size over time */
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Date');
		data.addColumn('number', 'Issues');
		data.addColumn('number', 'Technical Debt');

		var mydata = '{{data|tojson}}';
		mydata = JSON.parse(mydata);
		
		rows = [];
		mydata.forEach(function(element) {
			ratio = parseFloat(element.tech_debt_ratio) / 100.0;
			rows.push([element.timestamp, element.issues_count, ratio]);
		});
		data.addRows(rows.reverse()); // reverse array for chronological order left -> right

		var materialOptions = {
			chart: { title: 'Issues vs Technical Debt Ratio'},
			width: 400,
			height: 324,
			series: { 0: {axis: 'Issues'}, 1: {axis: 'TechnicalDebt'} },
			axes: { y: { Issues: {label: 'Issues'}, TechnicalDebt: {label: 'Technical Debt'} } },
			legend: { position: 'none' },
		};

		var materialChart = new google.charts.Line(document.getElementById('issues_and_tech_debt'));
		materialChart.draw(data, google.charts.Line.convertOptions(materialOptions));
	}

	$(window).resize(function(){
		drawICSChart();
		drawTDCSChart();
		drawITDChart();
	});
</script>
{% endblock %}

{% block styles %}
{{super()}}
<style type="text/css">
	.chart{
		width: 100%; 
		padding: 2rem;
		border: 1px solid #565656;
		border-radius: 1%;
		background-color: #fff;
		z-index: 1;
	}

	.chart * {z-index: 1; position: relative;}

	/* basic positioning */
	.legend { list-style: none; float: right; z-index: 1000; padding: 10px 10px; position: inherit; }
	.legend li { margin-right: 10px; -webkit-font-smoothing: antialiased; font-family: Roboto; color: #757575}
	.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
	.legend .line1 { background-color: rgb(66, 133, 244); border-radius: 3px; margin-top: 5px;}
	.legend .line2 { background-color: rgb(219, 68, 55); border-radius: 3px; margin-top: 5px; }

	.info {
		padding-right: 0px;
	}

	.highlight2 {
		font-family: Lato;
		font-size: 32px;
		font-weight: 600;
		margin-bottom: 0px;
	}
</style>
{% endblock %}

{% block content %}
<div class="container">

	<h2>Compare: {{ repo_name }}</h2>
	<br>

	<div class="row" style="margin:0 !important;">

		<div class="col">
			<div class="chart" id="issues_and_code_size" style="min-height:350px; min-width: 600px;"></div>
		</div>
		
		<div class="col info">
			<div class="row">
				<div class="col">
					<h4 class="highlight2">Issues:</h4><br>
					{% set current_issues = data[0]['issues_count'] %}
					{% set past_issues = data[data|length-1]['issues_count'] %}
					{% set issue_difference = current_issues - past_issues %}

					{% if issue_difference > 0 %}
					<i class="fas fa-chevron-circle-up fa-3x" style="color: red; float: left;"></i>
					{% else %}
					<i class="fas fa-chevron-circle-down fa-3x" style="color: limegreen; float: left;"></i>
					{% endif %}
					<h5 style="font-family: Lato; font-size: 40px;">&nbsp{{ issue_difference|abs }}</h5>
				</div>

				<div class="col">
					<h4 class="highlight2">Code size:</h4><br>
					{% set current_size = data[0]['lines_of_code'] %}
					{% set past_size = data[data|length-1]['lines_of_code'] %}
					{% set size_difference = current_size - past_size %}

					{% if size_difference > 0 %}
					<i class="fas fa-chevron-circle-up fa-3x" style="color: red; float: left;"></i>
					{% else %}
					<i class="fas fa-chevron-circle-down fa-3x" style="color: limegreen; float: left;"></i>
					{% endif %}
					<h5 style="font-family: Lato; font-size: 40px;">&nbsp{{ size_difference|abs }}</h5>
				</div>
			</div>

			<br>

			<h4 class="highlight2">Technical Debt:</h4>
			{% set current_tech_debt_ratio = data[0]['tech_debt_ratio'] |replace('%','') | float %}
			{% set past_tech_debt_ratio = data[data|length-1]['tech_debt_ratio'] |replace('%','') | float %}
			{% set tech_debt_ratio_difference = current_tech_debt_ratio - past_tech_debt_ratio %}
			
			{% if tech_debt_ratio_difference > 0 %}
				<i class="fas fa-chevron-circle-up fa-3x" style="color: red; float: left;"></i>
			{% else %}
				<i class="fas fa-chevron-circle-down fa-3x" style="color: limegreen; float: left;"></i>
			{% endif %}
			<h5 style="font-family: Lato; font-size: 40px;">&nbsp{{ tech_debt_ratio_difference|abs|string + '%' }}</h5>

		</div>
	</div>

	<br>

	<div class="row" style="margin:0 !important;">

		<div class="col">
			<ul class="legend">
				<li><span class="line1"></span>   Technical Debt</li>
				<li><span class="line2"></span>   Lines of Code</li>
			</ul>	
			<div class="chart">
				<div id="tech_debt_and_code_size" style="min-height:324px; min-width: 356px;"></div>
			</div>
		</div>

		<div class="col">
			<ul class="legend">
				<li><span class="line1"></span>   Issues</li>
				<li><span class="line2"></span>   Technical Debt</li>
			</ul>	
			<div class="chart">
				<div id="issues_and_tech_debt" style="min-height:324px; min-width: 356px;"></div>
			</div>
		</div>

	</div>

</div>

{% endblock %}